<h1><%= @currency.name %> - 通貨詳細</h1>

<div class="currency-detail-tables">
  <ul class="currency-detail">
    <li>
      <table class="table">
        <tr>
          <td>項目</td>
          <td>内容</td>
        </tr>
        <tr>
          <td>通貨管理番号</td>
          <td><%= @currency.currency_id %></td>
        </tr>
        <tr>
          <td>通貨名</td>
          <td><%= @currency.name %></td>
        </tr>
        <tr>
          <td>発行者</td>
          <td><%= @currency.publisher_name %></td>
        </tr>
        <tr>
          <td>単位</td>
          <td><%= @currency.unit %></td>
        </tr>
        <tr>
          <td>総流通量</td>
          <td><%= number_with_delimiter(@currency.distribution) %></td>
        </tr>
      </table>
    </li>
    <li>
      <% if @login_now and @currency.publisher == login_member.member_id %>
      <form method="GET" action="<%= currency_publish_path(@currency.currency_id) %>">
        <button type="submit" class="btn btn-primary"><%= "#{@currency.name}の流通を増やす！" %></button>
      </form>
      <% end %>
    </li>
    <li>
      <%= render 'shared/log_list', logs: @logs %>
    </li>
  </ul>
</div>

