<div id="header">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
    <% if @login_now %>
      <li><%= login_member_name %></li>
    <% end %>
    </ul>
    <h3>メンバーと通貨の実験アプリ</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="member">
              <%= link_to 'メンバーリスト', :members %>
            </li>
            <li class="currency">
              <%= link_to '通貨リスト', :currencies %>
            </li>
            <li class="log">
              <%= link_to 'ログリスト', :log_for_currencies %>
            </li>
            <% if @login_now %>
            <li class="pull-right logout">
              <%= link_to 'Logout', :logout %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if flash.key?(:notice) %>
      <div class="control-group success"><span class="help-inline"><%= flash[:error] %></span></div>
    <% end %>
    <% if flash.key?(:alert) %>
      <div class="control-group warning"><span class="help-inline"><%= flash[:alert] %></span></div>
    <% end %>
    <% if flash.key?(:error) %>
      <div class="control-group error"><span class="help-inline"><%= flash[:error] %></span></div>
    <% end %>
  </div>
</div>
