<table class="table">
  <tr>
    <th>日付</th>
    <th>操作通貨名</th>
    <th>金額</th>
    <th>操作ログ</th>
    <th>何かした人</th>
    <th>何かされた人</th>
  </tr>
  <% @logs.each do |log| %>
  <tr>
    <td><%= log.operation_date.to_s %></td>
    <td><%= log.currency_name %></td>
    <td><%= "#{number_with_delimiter(log.amount)} #{log.unit}" %></td>
    <td><%= log.log %></td>
    <td><%= log.from_member_name %></td>
    <td><%= log.to_member_name %></td>
  </tr>
  <% end %>
</table>

