<h1>お金チケット一覧</h1>

<form class="form-horizontal">
<div class="control-group">
  <label class="control-label">登録総額</label>
  <div class="controls">
    <p><%= ticket_amount_all(@tickets) %></p>
  </div>
</div>
<div class="control-group">
  <label class="control-label">換金総額</label>
  <div class="controls">
    <p><%= ticket_amount_exchanged(@tickets) %></p>
  </div>
</div>
<div class="control-group">
  <label class="control-label">未使用総額</label>
  <div class="controls">
    <p><%= ticket_amount_no_use(@tickets) %></p>
  </div>
</div>
</form>

</div>
<table class="table">
  <tr>
    <th>チケット番号</th>
    <th>金額</th>
    <th>ステータス</th>
    <th>使用期限</th>
    <th>使用日時</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.ticket_id %></td>
      <td><%= ticket.amount %></td>
      <td><%= ticket.get_status %></td>
      <td><%= ticket.expire_date %></td>
      <td><%= ticket.get_used_date %></td>
  <% end %>
</table>

