<%= form_for(@from_member, html: {class: 'form-horizontal', method: 'POST'}, url: create_give_action_path(@from_member, @to_member, @currency)) do |f| %>
  <fieldset>
    <legend><%= @currency.name %>を <%= @to_member.name %> さんにプレゼント！</legend>
    <div class="control-group">
      <label class="control-label"><%= @to_member.name %> さんが持っている<%= @currency.name %>は</label>
      <div class="controls">
        <span>
          <%= @to_member.currency_amount(@currency.currency_id) %>
          <%= @currency.unit %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">あなたが持っている<%= @currency.name %>は</label>
      <div class="controls">
        <span>
          <%= @from_member.currency_amount(@currency.currency_id) %>
          <%= @currency.unit %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">プレゼントする額は</label>
      <div class="controls">
        <select class="span2" name="given_amount">
          <%= get_amount_of_500_per_options_by_member(@from_member, @currency) %>
        </select>
        <%= @currency.unit %>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">プレゼントする！</button>
    </div>
  </fieldset>
<% end %>
