<h1>Member Detail</h1>

<div class="member-detail-information">
  <ul class="member-detail">
    <li>
      <table class="table">
        <tr>
          <th>項目</th>
          <th>内容</th>
        </tr>
        <tr>
          <td>Member ID</td>
          <td><%= @member.member_id %></td>
        </tr>
        <tr>
          <td>Member Name</td>
          <td><%= @member.name %></td>
        </tr>
      </table>
    </li>

    <li>
      <table class="table">
        <tr>
          <td>Currency Name</td>
          <td>持っている量</td>
          <% if @login_now %>
            <td></td>
          <% end %>
        </tr>
        <% @member.currency_list.each do |currency| %>
          <tr>
            <td><%= currency.name %></td>
            <td><%= currency.amount %></td>
            <% if @login_now %>
              <td>
                <%= give_page_link(@member, currency) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </li>
  </ul>

</div>

